@model Assignment_AppDev.ViewModels.TrainerViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create New Trainer</h2>
@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-success" })
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(t => t.Trainer.TrainerID)
        @Html.DropDownListFor(tp => tp.Trainer.TrainerID,
        new SelectList(Model.Trainers, "ID", "UserName"), "",
        new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.Trainer.Name)
        @Html.TextBoxFor(t => t.Trainer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Trainer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Trainer.Address)
        @Html.TextBoxFor(t => t.Trainer.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Trainer.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Trainer.Age)
        @Html.TextBoxFor(t => t.Trainer.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Trainer.Age)
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Trainer.Phone)
        @Html.TextBoxFor(t => t.Trainer.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Trainer.Phone)
    </div>

    <button type="submit" class="btn btn-default">Create</button>
}
@Html.ActionLink("Back", "Index")
