@model Assignment_AppDev.Models.Trainer
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@Html.ActionLink("Back", "Index", "Home")
<div class="panel panel-default">
    <div class="panel-heading">Name: @Model.Name</div>
    <div class="panel-body">Email: @Model.Email</div>
    <div class="panel-body">Phone: @Model.Phone</div>
    <div class="panel-body">Age: @Model.Age</div>
    <div class="panel-body">Address: @Model.Address</div>
</div>