@model Assignment_AppDev.ViewModels.TraineeViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create New Trainee</h2>
@Html.ActionLink("Back", "Index")
@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-success" })
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(t => t.Trainee.TraineeID)
        @Html.DropDownListFor(tp => tp.Trainee.TraineeID, new SelectList(Model.Trainees, "Id", "UserName"), "",new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Trainee.Name)
        @Html.TextBoxFor(t => t.Trainee.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Trainee.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Trainee.Email)
        @Html.TextBoxFor(t => t.Trainee.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Trainee.Email)
    </div>
    <button type="submit" class="btn btn-success">Create</button>
}

