@model IEnumerable<Assignment_AppDev.Models.Trainee>
@{
    ViewBag.Title = "Index";
}

<h2>Trainee</h2>

@if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
{
    @*<h3>Search Trainee</h3>
        using (@Html.BeginForm("Index", "Trainees", FormMethod.Get))
        {
            <p>
                Search by username: @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </p>
        }*@
    @Html.ActionLink("Add Trainee Profile", "Create")


    <table class="table">
        <tr>

            <th>Email</th>
            <th>FullName</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
        @foreach (var traineee in Model)
        {
            <tr>

                <th>@traineee.Email</th>
                <th>@traineee.Name</th>
                <th>@Html.ActionLink("Edit", "Edit", new { id = traineee.Id })</th>
                <th>@Html.ActionLink("Delete", "Delete", new { id = traineee.Id })</th>
            </tr>
        }
    </table>
}
@if (User.IsInRole("Trainee"))
{
    <table class="table">
        <tr>
            <th>Email</th>
            <th>FullName</th>
            <th>Edit</th>
        </tr>
        @foreach (var traineeee in Model)
        {
            <tr>
                <th>@traineeee.Email</th>
                <th>@traineeee.Name</th>
                <th>@Html.ActionLink("Edit", "Edit", new { id = traineeee.Id })</th>
            </tr>
        }
    </table>
}

@Html.ActionLink("Back", "Index", "Home")

